body{
    background: #8a5f95;
}

.container, .button, .nav{
    position: absolute;
}

.container{
    margin: auto;
    top: 10%;
    left: 50%;
    margin-left: -20px;
}

#toggle{
    display: none;
}

.button{
    z-index: 999;
    width: 43px;
    height: 43px;
    background: #f28482;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

.button:before{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    transform: rotate(90deg);
}

.button:after{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
}

.nav{
    transform: translateY(-10%);
    opacity: 0;
    top: 13px;
    left: -50px;
    transition: all 0.5s ease-in-out;
    background: white;
    width: 150px;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.1);
}

.nav a{
    text-align: center;
    display: block;
    margin: 20px 0;
    color: #f28482;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 300ms;
}

.nav a:hover{
    color: #5f5f5f;
}

#toggle:checked ~ .nav{
    opacity: 1;
    transform: translateY(10%);
}

#toggle:checked ~ .button{
    transform: rotate(135deg);
    box-shadow: 0 0 0 0 transparent;
}































































